<% locals.pageTitle = "全球顶级跨境综合服务平台_海外充值平台" %>
<% locals.pageCssPath = "/public/css/index.css" %>
<% locals.pageJsPath = "/public/js/index.js" %>

<%- include('common/header') %>

<div class="main">
    <div id="Global">
        <%- include('common/bodyHeader') %>
        <div class="g-main">
            <div id="Index">
                <div class="l-top">
                    <div class="le_fBox">
                        <a href="/list?cateid=1392" class="le_fView">
                            <img class="le_fImg" src="https://ajcard.com/public/data/indexImg/1625808636043201403.png" alt="">
                            <ul class="le_fUl">
                                <li class="le_fTitle">YY直播</li>
                                <li class="le_fText">YY币</li>
                            </ul>
                        </a>
                        <a href="/list?cateid=21" class="le_fView">
                            <img class="le_fImg" src="https://ajcard.com/public/data/indexImg/1625809088641107325.png" alt="盛趣游戏,盛趣游戏">
                            <ul class="le_fUl">
                                <li class="le_fTitle">苹果卡密</li>
                                <li class="le_fText">苹果充值</li>
                            </ul>
                        </a>
                        <a href="/list?cateid=212" class="le_fView">
                            <img class="le_fImg" src="https://ajcard.com/public/data/indexImg/1669168359203380880.png" alt="原神,原神">
                            <ul class="le_fUl">
                                <li class="le_fTitle">原神</li>
                                <li class="le_fText">原神</li>
                            </ul>
                        </a>
                        <a href="/list?cateid=27" class="le_fView">
                            <img class="le_fImg" src="https://cdn.gongfucard.com/images/2022/11/11/839709bed1b04473a647350fe5a81c17.png?x-oss-process=image/format,webp" alt="抖音直播">
                            <ul class="le_fUl">
                                <li class="le_fTitle">抖音直播</li>
                                <li class="le_fText">抖币</li>
                            </ul>
                        </a>
                        <a href="/list?cateid=2454" class="le_fView">
                            <img class="le_fImg" src="https://ajcard.com/public/data/indexImg/1625807859149213766.png" alt="网易游戏,网易游戏">
                            <ul class="le_fUl">
                                <li class="le_fTitle">网易游戏</li>
                                <li class="le_fText">梦幻西游</li>
                            </ul>
                        </a>
                    </div>
                    <div class="le_hotTitle">Top热销榜单<span class="le_hotTitleSpan">热销商品风向标</span></div>
                    <div class="le_hotBox">
                        <div class="le_hotView">
                            <a href="/list?cateid=24">
                                <div class="le_hotName">映客直播</div>
                                <div class="le_hotNum">
                                    <div class="le_hotNumBg">映客直播</div>
                                    <div class="le_hotNumIcon"></div>
                                </div>
                                <div class="le_hotBg">
                                    <div class="le_hotImgBox"><img class="le_hotImg" src="https://ajcard.com/public/data/indexImg/1625808279682449897.png" alt="映客直播"></div>
                                    <div class="le_hotLine"></div>
                                </div>
                            </a>
                        </div>
                        <div class="le_hotView">
                            <a href="/list?cateid=27">
                                <div class="le_hotName">抖音直播</div>
                                <div class="le_hotNum">
                                    <div class="le_hotNumBg">抖币</div>
                                    <div class="le_hotNumIcon"></div>
                                </div>
                                <div class="le_hotBg">
                                    <div class="le_hotImgBox"><img class="le_hotImg" src="https://ajcard.com/public/data/indexImg/1625809100798489085.png" alt="抖音直播"></div>
                                    <div class="le_hotLine"></div>
                                </div>
                            </a>
                        </div>
                        <div class="le_hotView">
                            <a href="/list?cateid=32">
                                <div class="le_hotName">陌陌直播</div>
                                <div class="le_hotNum">
                                    <div class="le_hotNumBg">陌陌直播</div>
                                    <div class="le_hotNumIcon"></div>
                                </div>
                                <div class="le_hotBg">
                                    <div class="le_hotImgBox"><img class="le_hotImg" src="https://ajcard.com/public/data/indexImg/1625808279071788809.png" alt="陌陌直播"></div>
                                    <div class="le_hotLine"></div>
                                </div>
                            </a>
                        </div>
                        <div class="le_hotView">
                            <a class="le_hotLink" href="/list?cateid=1393">
                                <div class="le_hotLeftBox">
                                    <div class="le_hotName">花椒直播</div>
                                    <div class="le_hotNum">
                                        <div class="le_hotNumBg">花椒直播</div>
                                        <div class="le_hotNumIcon"></div>
                                    </div>
                                </div>
                                <div class="le_hotSmallBg">
                                    <div class="le_hotImgSmallBox"><img class="le_hotSmallImg" src="https://ajcard.com/public/data/indexImg/1625808279608555853.png" alt="花椒直播"></div>
                                    <div class="le_hotSmallLine"></div>
                                </div>
                            </a>
                        </div>
                        <div class="le_hotView">
                            <a class="le_hotLink" href="/list?cateid=146">
                                <div class="le_hotLeftBox">
                                    <div class="le_hotName">比心APP</div>
                                    <div class="le_hotNum">
                                        <div class="le_hotNumBg">比心APP</div>
                                        <div class="le_hotNumIcon"></div>
                                    </div>
                                </div>
                                <div class="le_hotSmallBg">
                                    <div class="le_hotImgSmallBox"><img class="le_hotSmallImg" src="https://ajcard.com/public/data/indexImg/1625808279044034635.png" alt="比心APP"></div>
                                    <div class="le_hotSmallLine"></div>
                                </div>
                            </a>
                        </div>
                        <div class="le_hotView">
                            <a href="/list?cateid=1392">
                                <div class="le_hotName">YY直播</div>
                                <div class="le_hotNum">
                                    <div class="le_hotNumBg">YY直播</div>
                                    <div class="le_hotNumIcon"></div>
                                </div>
                                <div class="le_hotBg">
                                    <div class="le_hotImgBox"><img class="le_hotImg" src="https://ajcard.com/public/data/indexImg/1625808636043201403.png" alt="YY直播"></div>
                                    <div class="le_hotLine"></div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="le_recoBox">
                        <div class="le_recoMain">
                            <a href="/list?cateid=212" class="le_recoView">
                                <div class="le_recoAnimate">
                                    <div class="le_pulse"></div>
                                    <div class="le_pulseSmall"></div>
                                    <div class="le_pulseBig"></div>
                                </div>
                                <div class="le_recoTitle">精品推荐</div>
                                <div class="le_recoImgBox"><img class="le_recoImg" src="https://ajcard.com/public/data/indexImg/1625809088035953464.png" alt="原神"></div>
                                <div class="le_hotGray"></div>
                                <div class="le_recoName">原神</div>
                                <button type="button" class="le_recoBtnWhite">立即抢购</button>
                            </a>
                            <div class="le_recoList">
                                <a class="reco_link" href="/list?cateid=137">
                                    <div class="le_recoPictureBox"><img class="le_recoPicture" src="https://ajcard.com/Uploads/image/20230603/2023060320463461.png" alt="网易点卷"></div>
                                    <div class="le_hotLine"></div>
                                    <div class="le_recoText">网易点卷</div>
                                    <button class="le_recoBtn">立即抢购</button>
                                </a>
                            </div>
                                    <div class="le_recoList">
                                <a class="reco_link" href="/list?cateid=21">
                                    <div class="le_recoPictureBox"><img class="le_recoPicture" src="https://ajcard.com/public/data/indexImg/1625809088641107325.png" alt="苹果卡密"></div>
                                    <div class="le_hotLine"></div>
                                    <div class="le_recoText">苹果卡密</div>
                                    <button class="le_recoBtn">立即抢购</button>
                                </a>
                            </div>
                                    <div class="le_recoList">
                                <a class="reco_link" href="/list?cateid=22">
                                    <div class="le_recoPictureBox"><img class="le_recoPicture" src="https://ajcard.com/Uploads/image/20230503/2023050320361781.png" alt="虎牙直播"></div>
                                    <div class="le_hotLine"></div>
                                    <div class="le_recoText">虎牙直播</div>
                                    <button class="le_recoBtn">立即抢购</button>
                                </a>
                            </div>
                                    <div class="le_recoList">
                                <a class="reco_link" href="/list?cateid=33">
                                    <div class="le_recoPictureBox"><img class="le_recoPicture" src="https://cdn.gongfucard.com/images/2022/01/14/4873af7ef22941ce87ed13b17cfbf840.jpg?x-oss-process=image/format,webp" alt="快手直播"></div>
                                    <div class="le_hotLine"></div>
                                    <div class="le_recoText">快手直播</div>
                                    <button class="le_recoBtn">立即抢购</button>
                                </a>
                            </div>
                                    <div class="le_recoList">
                                <a class="reco_link" href="/list?cateid=23">
                                    <div class="le_recoPictureBox"><img class="le_recoPicture" src="https://cdn.gongfucard.com/images/2022/01/17/9c30cffa52fe47eda1b38158c00510d0.jpg?x-oss-process=image/format,webp" alt="Bigo Live"></div>
                                    <div class="le_hotLine"></div>
                                    <div class="le_recoText">斗鱼直播</div>
                                    <button class="le_recoBtn">立即抢购</button>
                                </a>
                            </div>
                            
                        </div>
                    </div>

                    <div class="le_hotTitle">猜你喜欢</div>
                    <div class="le_likesbox"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('common/headUserinfo') %>
<%- include('common/footer') %>