    <div class="le_advBox">
        <div class="le_advMain">
            <div class="le_advList">
                <div class="le_advImgBox"><img class="le_advImg" src="https://ajcard.com/public/static/img/icon_p.svg"></div>
                <ul class="le_advContent">
                    <li class="le_advName">品质保证 渠道正规</li>
                    <li class="le_advText">对接官方商品 服务优质价低</li>
                </ul>
            </div>
            <div class="le_advList">
                <div class="le_advImgBox"><img class="le_advImg" src="https://ajcard.com/public/static/img/icon_t.svg"></div>
                <ul class="le_advContent">
                    <li class="le_advName">交易安全 资金保障</li>
                    <li class="le_advText">个人信息加密 保障账户安全</li>
                </ul>
            </div>
            <div class="le_advList">
                <div class="le_advImgBox"><img class="le_advImg" src="https://ajcard.com/public/static/img/icon_f.svg"></div>
                <ul class="le_advContent">
                    <li class="le_advName">贴心服务</li>
                    <li class="le_advText">完美服务体验</li>
                </ul>
            </div>
            <div class="le_advList">
                <div class="le_advImgBox"><img class="le_advImg" src="https://ajcard.com/public/static/img/icon_b.svg"></div>
                <ul class="le_advContent">
                    <li class="le_advName">超时赔付 售后无忧</li>
                    <li class="le_advText">订单超时赔付 无理由退换货</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="LoginFooter">
        <div class="l-wrap footers"> 
            <p class="o-address">
                版权所有 Copyright© 2024 充值兔
                <a href="https://beian.miit.gov.cn" target="_blank">琼ICP备2022014197号</a>
            </p>
        </div>
    </div>

<script src="<%= locals.pageJsPath %>"></script>
</body>
</html>