<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= locals.pageTitle %></title>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="海外充值,游戏点卡充值,直播充值,苹果卡充值,苹果礼品卡充值">
    <meta name="description" content="备受全球华人信赖的线上游戏点卡、直播和苹果卡充值平台。为全球华人玩家提供各种最新游戏、手游充值，直播充值，游戏点卡、游戏激活码，苹果卡等。">
    <link rel="shortcut icon" href="/public/imgs/favicon.ico">
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.modal.min.js"></script>
    <script type="text/javascript" src="/public/js/alert.js"></script>
    <script type="text/javascript" src="/public/js/ejs.min.js"></script>
    <script type="text/javascript" src="/public/js/utils.js"></script>
    <link href="/public/css/global.css" rel="stylesheet">
    <link href="/public/css/alert.css" rel="stylesheet">
    <link href="/public/css/jquery.modal.min.css" rel="stylesheet">
    <link href="<%= locals.pageCssPath %>" rel="stylesheet">
</head>
<body>