<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/alert.js"></script>
    <script type="text/javascript" src="/public/js/utils.js"></script>
    <link href="/public/css/alert.css" rel="stylesheet">
    <link rel='stylesheet' href="/public/partner/login.css">
    <title>登录</title>
</head>
<body>
    <div class="get-started" id="login-screen">
       <p>游充宝合作伙伴登录</p>
        <input type="text" name="email" id="accountName" placeholder="账号" class="login-form">
        <input type="password" name="password" id="password" class="login-form" placeholder="密码">
        <input type="button" value="登录" class="login-btn" onclick="login()">
    </div>

    <script src="/public/partner/login.js"></script>
</body>
</html>